.fondo-card-1{
  background:linear-gradient(135deg, #C56CD6 0%,#3425AF 100%);
}

.fondo-card-2{
  background:linear-gradient(135deg, #fad961 0%,#f76b1c 100%);
}

.fondo-card-3{
  background:linear-gradient(135deg, #7117ea 0%,#ea6060 100%);
}

.fondo-card-4{
  background:linear-gradient(135deg, #000000 0%,#d0021b 100%);
}
