
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; }
/* body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */


.mat-toolbar.mat-toolbar.mat-primary.mat-toolbar-single-row{
  background-color: /* #00C7B1; */ /* #00AEC7; */ #00859B;
}

.green-snackbar {
  background: #2e7d32;
  color: white;
}
.green-snackbar button {
  background-color: #60ad5e;
  color: white;
  border: none;
}
.red-snackbar {
  background: #b71c1c;
  color: white;
}
.red-snackbar button {
  background-color: #f05545;
  color: white !important;
  border: none;
}

.p-inputtext {
  font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
  font-size: 1rem;
  background: #ffffff;
  padding: 0.75rem 0.75rem;
  border: 1.7px solid rgb(200 200 200 );
  transition: background-color 0.2s, border-color 0.2s, color 0.2s, box-shadow 0.2s, background-size 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 5px;
}

.pi-sort-amount-up-alt:before {
  content: "\e9a2";
  font-size: 12px;
  vertical-align: top;
}

.pi-sort-amount-down:before {
  content: "\e9a0";
  font-size: 12px;
  vertical-align: top;
}
.pi-sort-alt:before {
  content: "";
  font-size: 12px;
  vertical-align: top;
}

::ng-deep  .mat-mini-fab.mat-accent{
  background-color: #00c7b1;
}


